ion-icon {
    color: white;
  }

/*nav searchbar*/

.search{
    display: flex;
    margin: auto 0;
    height: 35px;
    line-height: 35px;
    
    

}
.search input{
    border: none;
    outline: none;
    background: #fff;
    height: 100%;
    padding: 0 5px;
    font-size: 20px;
    width: 300px;
    border-radius: 0;
    
}

.search span{
    color: #000;
    background: #DAA520;
    font-size: 20px;
    height: 100%;
    padding: 15px;
    padding-top: 2px;
    position: relative;
    cursor: pointer;
    z-index: 1;
    border-radius: 0;
    
}
.search span:hover{
    colour: #000;
}

.search span::after{
    height: 100%;
    width: 0%;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    
}

.search span:hover::after{
    width: 100%;
}




